body{
  background-color:#D3AA84 ;
}

h1{
  color:#7B7B7B ;
  background-color:#F4DCB3 ;
  padding:15px;
}

h3{
  color:#7B7B7B ;
  background-color:#F4DCB3 ;
}

label{
  color:#7B7B7B ;
}
div{
   color:#7B7B7B;
}
